.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem 5rem;
  }

  &__button {
    margin: 1rem;
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 24rem;
    z-index: 9;
  }
}
