.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    padding: 2rem 0 5rem;
  }

  &__button {
    margin: 1rem;
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 24rem;
    z-index: 9;

    @media screen and (max-width: 767px) {
      min-width: 100%;
    }
  }
}
