.word {
  $self: &;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  cursor: pointer;

  &--is-flip {
    transform: rotateY(180deg);
  }

  &--is-play {
    #{$self}__bottom,
    #{$self}__turn {
      opacity: 0;
      visibility: hidden;
    }
  }

  &--is-correct {
    opacity: 0.5;
    pointer-events: none;
  }

  &__back,
  &__front {
    border-radius: 3rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba($color: #000000, $alpha: 0.3);
    backface-visibility: hidden;
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0.3rem 0.3rem 1rem rgba($color: #000000, $alpha: 0.3);
    }
  }

  &__img {
    position: relative;
    padding-bottom: 70%;

    &-file {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3rem;
      object-fit: cover;
    }
  }

  &__bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.6rem 2rem;
    background-color: #fff;
    border-radius: 0 0 3rem 3rem;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
  }

  &__text {
    font-size: 2.4rem;
    text-align: center;
  }

  &__turn {
    position: absolute;
    bottom: 1.2rem;
    right: 1.6rem;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;

    &::after {
      content: '';
      position: absolute;
      top: -0.3rem;
      right: -0.3rem;
      bottom: -0.3rem;
      left: -0.3rem;
    }

    &-icon {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateY(180deg);
  }
}
